@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: custom global styles */
body {
  @apply bg-gray-50 text-gray-800;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}